body{
    font-family: "Times New Roman", Arial, sans-serif;

}
nav ul{
    list-style: none;
    padding: 0px;
    width: 1100px;
    text-align: center;
    margin: auto;
    font-size: 20px;
}

nav li{
    width: 220px;
    text-align: center;
    float: left;

}

footer{
    align-content: last;
}

h3{
    border-bottom: 2px solid black;
}

footer {
    position:absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.menu{
    font-size: x-large;
    text-align: center;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}

.Welcome{
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
}

table{
    position: absolute;
    text-align: center;
}

.Milan{
    text-align: center;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

ul{
    list-style: none;
    text-align: center;
}

#myVideo {
    position: center;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.content {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}

.body{
    background-color: #121111;
    color: ghostwhite;
}

.a {
    color: ghostwhite;
}
.nav{
    position: fixed;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 70px;

}
